<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.EduClassroomMapper">
    
    <resultMap type="EduClassroom" id="EduClassroomResult">
        <result property="classroomId"    column="classroom_id"    />
        <result property="classroomCode"    column="classroom_code"    />
        <result property="campusName"    column="campus_name"    />
        <result property="classroomName"    column="classroom_name"    />
        <result property="classroomSize"    column="classroom_size"    />
        <result property="capacity"    column="capacity"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectEduClassroomVo">
        select classroom_id, classroom_code, campus_name, classroom_name, classroom_size, capacity, status, create_by, create_time, update_by, update_time, remark from edu_classroom
    </sql>

    <select id="selectEduClassroomList" parameterType="EduClassroom" resultMap="EduClassroomResult">
        <include refid="selectEduClassroomVo"/>
        <where>  
            <if test="classroomCode != null  and classroomCode != ''"> and classroom_code = #{classroomCode}</if>
            <if test="campusName != null  and campusName != ''"> and campus_name like concat('%', #{campusName}, '%')</if>
            <if test="classroomName != null  and classroomName != ''"> and classroom_name like concat('%', #{classroomName}, '%')</if>
            <if test="classroomSize != null  and classroomSize != ''"> and classroom_size = #{classroomSize}</if>
            <if test="capacity != null "> and capacity = #{capacity}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectEduClassroomByClassroomId" parameterType="Long" resultMap="EduClassroomResult">
        <include refid="selectEduClassroomVo"/>
        where classroom_id = #{classroomId}
    </select>

    <insert id="insertEduClassroom" parameterType="EduClassroom" useGeneratedKeys="true" keyProperty="classroomId">
        insert into edu_classroom
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="classroomCode != null and classroomCode != ''">classroom_code,</if>
            <if test="campusName != null and campusName != ''">campus_name,</if>
            <if test="classroomName != null and classroomName != ''">classroom_name,</if>
            <if test="classroomSize != null">classroom_size,</if>
            <if test="capacity != null">capacity,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="classroomCode != null and classroomCode != ''">#{classroomCode},</if>
            <if test="campusName != null and campusName != ''">#{campusName},</if>
            <if test="classroomName != null and classroomName != ''">#{classroomName},</if>
            <if test="classroomSize != null">#{classroomSize},</if>
            <if test="capacity != null">#{capacity},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateEduClassroom" parameterType="EduClassroom">
        update edu_classroom
        <trim prefix="SET" suffixOverrides=",">
            <if test="classroomCode != null and classroomCode != ''">classroom_code = #{classroomCode},</if>
            <if test="campusName != null and campusName != ''">campus_name = #{campusName},</if>
            <if test="classroomName != null and classroomName != ''">classroom_name = #{classroomName},</if>
            <if test="classroomSize != null">classroom_size = #{classroomSize},</if>
            <if test="capacity != null">capacity = #{capacity},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where classroom_id = #{classroomId}
    </update>

    <delete id="deleteEduClassroomByClassroomId" parameterType="Long">
        delete from edu_classroom where classroom_id = #{classroomId}
    </delete>

    <delete id="deleteEduClassroomByClassroomIds" parameterType="String">
        delete from edu_classroom where classroom_id in 
        <foreach item="classroomId" collection="array" open="(" separator="," close=")">
            #{classroomId}
        </foreach>
    </delete>
</mapper>